
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.fixed {
    font-family: 'Delicious Handrawn', cursive;
    display: block;
    width: 360px; /* set the width of the body */
    margin: 0 auto; /* center the body horizontally */
  }

  .list-n{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    color:rgb(19, 165, 14);
  }





  .Adaptive-layout{
    background-repeat: no-repeat;
    background-size: cover;
  }

  .adaptive {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
  }
  .adaptive-item {
    width: 200px; /* set the width of each item */
    margin: 10px; /* add some spacing between items */
  }
  @media (max-width: 400px) { /* adjust layout for smaller screens */
    .adaptive-item {
      width: 100%; /* set the width of each item to 100% */
      margin: 10px 0; /* remove spacing between items */
    }
  }

























/* .parent{
    background-color: rgb(255, 255, 255);
    height: 105px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 105px;
    gap: 5px;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.child {
    background: #0010f5;
    width: 50px;
    border-radius: 5px;
    height: 50px;
    flex-wrap: wrap;
}

.child:nth-child(1) {
    background: #a3ff0f;
    width: 50px;
    border-radius: 5px;
    height: 50px;
    flex-wrap: wrap;
}
.child:nth-child(4) {
    background:#a3ff0f;
    ;
    width: 50px;
    border-radius: 5px;
    height: 50px;
    flex-wrap: wrap;
}
.child:nth-child(3) {
    background: #0010f5;
    width: 50px;
    border-radius: 5px;
    height: 50px;
    flex-wrap: wrap;
} */